[Unit]
Description=Python VDI Scheduler Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/vdi/VDI-API/scheduler.py
Restart=always
User=vdi
Group=vdi

[Install]
WantedBy=multi-user.target